extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to detail
 else
  - let bookid = toShow._id
  - let book_name = toShow.book_name
  - let book_genre = toShow.book_genre
  - let book_cost = toShow.book_cost

  div
    div.row
     div(class='BooksAttr mr-3') book ID is:
     div #{bookid}
    div.row
     div(class='BooksAttr mr-3') book Name is:
     div #{book_name}
    div.row
     div(class='BooksAttr mr-3') book genre is:
     div #{book_genre}
    div.row
     div(class='BooksAttr mr-3') book Cost is:
     div #{book_cost}