extends layout

block content
  h1= title
  -let items = results
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p book_name:  #{item.book_name}
          p book_genre:  #{item.book_genre}
          p book_cost:  #{item.book_cost}
  script.
    function buy(N) {
      N=N+1;
      alert('You purchased item '+N);
    }
